body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* dark mode */
  background-color: #181818;
  color: #ffffff;
  opacity: 0.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* dark mode links */
a {
  text-decoration: none;
  padding: 0px 2px;
}

a:link {
  color: aqua;
}

a:visited {
  color: magenta;
}

a:focus {
  border-bottom: 1px solid;
  background-color: darkgreen;
}

a:hover {
  border-bottom: 1px solid;
  background-color: darkolivegreen;
}

a:active {
  background: darkgreen;
  color: greenyellow;
}

li {
 margin-bottom: 4px; 

}

li > div {
  margin: 2px;
}